.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}
.navbar{
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 999;
}

nav .container{
  border-radius: 10px;
  width: 80%;
  background-color: #3f3e3e6e;
  padding-bottom: 5px;
  padding-top: 5px;
  -moz-transform: skew(12deg, 0deg);
  -webkit-transform: skew(12deg, 0deg);
  -o-transform: skew(12deg, 0deg);
  -ms-transform: skew(12deg, 0deg);
  transform: skew(12deg, 0deg);
}

.navbar a{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: skew(-12deg, 0deg);
  -moz-transform: skew(-12deg, 0deg);
  -o-transform: skew(-12deg, 0deg);
  -ms-transform: skew(-12deg, 0deg);
  transform: skew(-12deg, 0deg);
}

.navbar-brand{
  margin-right: 10vw;
}

.nav-link {
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

#social-icons a{
  display: flex;
  align-items: center;
  height: 100%;
}

#social-icons i{
  font-size: 1.18rem;
}

.nav-item a{
  color: #fff;
  font-size: 1.1rem;
}

.nav-link:focus{
  color: #fff;
}

.navbar img{
  transition: all 0.3s ease; 
}

.navbar img:hover{
  transform: scale(1.05);
}

.nav-item a:hover{
  color: #E24903;
}

@media (max-width: 991px) {
  nav .container{
    -webkit-transform: skew(0deg, 0deg);
    -moz-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }

  .navbar a{
    -webkit-transform: skew(0deg, 0deg);
    -moz-transform: skew(0deg, 0deg);
    -o-transform: skew(0deg, 0deg);
    -ms-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0deg);
  }

  #social-icons i{
    font-size: 1.3rem;
  }
  
  .collapse{
    margin-bottom: 12px;
    border-radius: 10px;
  }

  nav .container{
    width: 98%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .navbar-brand{
    margin-right: 0;
  }
}
