.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}
.navbar{
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 999;
}

nav .container{
  border: solid 2px #777777;
  border-radius: 18px;
  width: 80%;
  backdrop-filter: blur(10px);
  background-color: #52515127;
  padding-bottom: 5px;
  padding-top: 5px;
  -webkit-backdrop-filter: blur(10px);
}

.navbar-brand{
  margin-right: 10vw;
}

.nav-link {
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

#social-icons a{
  display: flex;
  align-items: center;
  height: 100%;
}

#social-icons i{
  font-size: 1.18rem;
}

.nav-item a{
  color: #fff;
  font-size: 1.1rem;
}

.nav-link:focus{
  color: #fff;
}

.navbar img{
  transition: all 0.3s ease; 
}

.navbar img:hover{
  transform: scale(1.05);
}

.nav-item a:hover{
  color: #E24903;
}

@media (max-width: 991px) {

  #social-icons i{
    font-size: 1.3rem;
  }
  
  .collapse{
    margin-bottom: 12px;
    border-radius: 10px;
  }

  nav .container{
    width: 98%;
  }

  .navbar-brand{
  margin-right: 0;
  }
}
