.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(10px);
  background-color: transparent;
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

.nav-link {
  font-weight: 500;
}

.nav-item a{
  color: #fff;
  font-size: 1.1rem;
}

.nav-item a:hover{
  color: #E24903;
}

@media (max-width: 992px) {
  .navbar-collapse {
    background-color: #00000021;
    backdrop-filter: blur(5px);
    padding-top: 20px;

  }
}